nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 2rem 5rem;
}

ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 6rem;
}

ul li {
	font-size: 1.2rem;
}
