.btn {
	color: white;
	background: #1c1c1c;
	box-shadow: 0px 7px 35px 2px rgba(0, 0, 0, 0.25);
	font-size: 1rem;
	font-weight: 600;
	border: none;
	padding: 1.2rem 2.25rem !important;
	border-radius: 5px !important;
}

.btn.btn-small {
	padding: 0.1rem 0.8rem !important;
}